
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$font-size-base: .92rem;
$line-height-base: 1.6;

//主颜色--蓝绿色
$main-color:#36ac96;
//文本颜色--棕色
$brown-color:#555;
//淡棕色
$light-brown-color:#F6F6F6;
//深粉
$pink-color:#DE6B84;
//灰色
$grey-color:#eee;
//浅灰色
$light-grey-color:#9c999c;

//小字
$tiny-font-size:.85rem;


//副颜色--藏蓝色
//副颜色底色--淡绿色
$aa:#E5F1EF;
$easy-color:#607d8b;
$easy-bg-color:#eaf5f3;

