// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
/*html{
  font: .875rem/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}*/

html {
  font-size: 14px;
  //overscroll-behavior-y: none;
}

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  width: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll !important;

  //-webkit-user-select:auto;
  /*height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;*/
}

#app {
  min-height: 100%;
}

.navbar-laravel {
  /*background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);*/
}

.d-flex:not(#app) {
  flex-wrap: wrap;
}

a:hover {
  text-decoration: none;
}

a.text-pink:hover {
  color: $pink-color;
}

//pc端的绿色文字型a标签的hover效果
a.text-main:hover {
  color: $easy-color;
  background: $easy-bg-color;
}

//变成main按钮的a标签去掉hover效果（移动端）
a.btn-main:hover,
a.back-to-top:hover {
  color: #fff;
}

a.btn-easy-mobile:hover {
  color: $easy-color;
}

a:focus {
  //outline: $main-color dotted;
}

a:visited {
  //color: #709293;
}

input,
select,
textarea {
  resize: none;
  color: $brown-color !important;
  caret-color: $brown-color;
  letter-spacing: 1px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none; //可能火狐等其他浏览器有用，未测
  box-shadow: none !important;
}

input:focus,
select:focus {
  border-color: $main-color !important;
}

textarea:focus {
  border-color: $brown-color !important;
}

input.is-invalid,
input.is-invalid:focus {
  border: 1px solid #dc3545 !important;
}

//处理一些伪元素
::placeholder {
  font-size: $tiny-font-size;
  //vertical-align: middle;
  //transform:translate(0,3px);
  padding: 3px 0 0 0;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

//按钮
.btn,
button,
button:focus {
  border-radius: 0;
  border: none !important;
}

.btn,
button:focus {
  box-shadow: none !important;
}

.btn:disabled,
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover {
  cursor: not-allowed;
}
.btn-vote:disabled,
.btn-vote.disabled,
.btn-vote[disabled]{
  opacity: .85;
}



//按钮的格式
.btn-easy,
.btn-main,
.btn-pink,
.btn-vote,
.btn-light-pink,
.btn-submit-sm,
.btn-submit,
.btn-cancel-sm,
.btn-cancel {
  padding: 1px 7px 2px;
  //border: none;
  font-size: $tiny-font-size;
  font-weight: 500;
}

.btn-grey {
  padding: 1px 14px 2px;
  border-radius: .25rem;
  font-size: $tiny-font-size;
  font-weight: 500;
  color: $easy-color;
  background-color: $grey-color;
}

.btn-easy-lg {
  border-radius: .25rem;
  padding: 4px 14px 5px;
  font-size: 1.2rem;
  font-weight: 500;
}

//主按钮的颜色
.btn-main,
  //.btn-easy:active,
.btn-easy.active,
.btn-grey.active{
  color: #fff;
  background: $main-color;
}
.btn-vote{
  color: #7f7f7f;
}

.btn-light-pink {
  color: #fff;
  background: pink;
}

.btn-light-pink:hover {
  background: $pink-color;
}

.btn-pink {
  color: #fff;
  background: $pink-color;
}

//次按钮的颜色
.btn-easy,
.btn-easy-mobile {
  color: $easy-color;
  background: $easy-bg-color;
}

.btn-easy-lg {
  color: $easy-color;
  background: $easy-bg-color;
}

//确认+取消按钮（普通大小）
.btn-submit,
.btn-cancel {
  font-size: 1.1rem;
}

//确认按钮的颜色
.btn-submit-sm,
.btn-submit {
  color: #fff;
  background: $brown-color;
}

//取消按钮的颜色
.btn-cancel-sm,
.btn-cancel {
  color: $easy-color;
  background: $light-brown-color;
}

.btn-easy-mobile {
  width: 6rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0;
  //padding: 9px 26px 9px;
}

.back-to-top {
  background: pink;
  color: #fff;
}

//pc端的时候才有悬停效果
.btn-pc.btn-easy:not([disabled]):hover,
.btn-pc.btn-easy-lg:hover {
  background: #cbe7e2;
}

.btn-pc.btn-main:not([disabled]):hover,
.btn-pc.btn-easy.active:hover {
  background: #7dcbbd;
}

.btn-pc.btn-grey:hover,
.btn-pc.btn-vote:hover{
  color: $light-grey-color;
}

.btn-pc.btn-submit-sm:hover,
.btn-pc.btn-submit-sm:focus,
.btn-pc.btn-submit:hover,
.btn-pc.btn-submit:focus {
  background: #8c7f80;
}

.btn-pc.btn-cancel-sm:hover,
.btn-pc.btn-cancel-sm:focus,
.btn-pc.btn-cancel:hover,
.btn-pc.btn-cancel:focus {
  background: $easy-bg-color;
}

//@media only screen and(min-width: 768px) {

//徽章
.badge-main, .badge-easy {
  font-size: $tiny-font-size;
  padding: 1px 10px;
  border-radius: .25rem;
}

.badge-easy {
  color: $easy-color !important;
  background: $easy-bg-color !important;
}

.badge-main {
  color: #fff;
  background: $main-color;
}

//文本大小;颜色;背景
.text-tiny {
  font-size: $tiny-font-size;
}

.text-normal {
  font-size: 1rem;
}

.text-big {
  font-size: 1.1rem;
}

.text-large {
  font-size: 1.2rem;
}

.text-xl {
  font-size: 1.3rem;
}

.touch-size {
  font-size: 1.4rem;
}

.logo-size {
  font-size: 1.7rem;
}

.text-main {
  color: $main-color;
}

.text-brown {
  color: $brown-color;
}

.text-pink {
  color: pink;
}

.text-easy {
  color: $easy-color;
}

.review-text {
  line-height: 1.8;
}

.bg-light-brown {
  background: $light-brown-color;
}

.bg-easy {
  background: $easy-bg-color;
}

//icon--全部为浅粉，只有pc的时候悬停后变深粉
.fa-heart,
.fa-times,
.fa-arrow-left,
.fa-minus-square,
.fa-plus-square {
  color: pink
}

.fa-shopping-bag,
.fa-check,
.fa-edit,
.fa-circle-o,
.fa-pc.fa-times:hover,
.fa-pc.fa-arrow-left:hover,
.fa-pc.fa-minus-square:hover,
.fa-pc.fa-plus-square:hover {
  color: $pink-color;
}

//边框--若最终决定只用1px的话 则删去一个
.border-main {
  border: 1px solid $main-color;
}

.border-dotted {
  border-bottom: 1px dotted #bdb8ad
}

.hover-pointer {
  cursor: pointer;
}

.hover-help {
  cursor: help;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.box-shadow-lg {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .175)
}


body.modal-open {
  position: fixed;
}

.modal {
  overscroll-behavior-y: contain;
}

.modal-dialog-slide {
  width: 75%;
  min-height: 100%;
  margin: 0;
  background-color: #fff;
}

//两次transform属性的变化，x轴变化
.modal.fade .modal-dialog-slide {
  transition: transform .1s ease-out;
  transform: translate(-100%, 0);
}

.modal.show .modal-dialog-slide {
  transform: translate(0, 0);
}

.popover {
  max-width: none;
  //border: none;
  border-radius: 0;
}

.popover-body {
  padding: 1px;
  //min-width: 200px;
}

//到时候可以截成13rem大小的商品图，就可以去掉这个样式
/*.product-img{
  width: 13rem;
}*/
//此处为固定图片宽高的类（方便预留空间），应根据图片大小来定

img:not(.double-star-size) {
  display: block;
}

.fav-size {
  width: 10px;
  height: 10px;
}

.double-star-size {
  width: 17px;
  height: 17px;
}

.tiny-size {
  width: 22px;
  height: 19px;
}

.loading-size {
  width: 25px;
  height: 25px;
}

.avatar-size {
  width: 40px;
  height: 40px;
}

.color-size {
  width: 49px;
  height: 49px;
}

.crown-size {
  width: 50px;
  height: 30px;
}

.product-s-size {
  width: 70px;
  height: 70px;
}

.review-size {
  width: 94px;
  height: 94px;
}

.product-size {
  width: 119px;
  height: 119px;
}

.product-l-size {
  width: 182px;
  height: 182px;
}




.el-upload--picture-card:hover,
.el-upload:focus {
  border-color: $brown-color !important;
}

.nav-padding {
  padding-top: 1.2rem;
  padding-bottom: .5rem;
}
.buy-percent{
  color: $easy-color;
  background: $easy-bg-color;
  display: inline-block;
  padding: 0 .5rem;
  border-radius: 3px;
}
.cat-nav {
  //padding-bottom: 2px;
  //border-bottom: 2px solid #fff;
  transition: all 0.1s;
}

.cat-nav.active {
  //background-color: $main-color;
  color: $main-color !important;
  font-weight: bold;
  //border-bottom-color: $main-color;
}

.page-item.active .page-link {
  background-color: $main-color;
  border-color: $main-color;
}

.page-link {
  color: $main-color;
}

//仅pc端需要单独处理的地方(min-有小到大排)
@media only screen and(min-width: 768px) {
  .nav-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .star-margin {
    margin-right: .25rem;
  }
  .text-md-normal {
    font-size: 1rem;
  }
  .shop-hint-pc {
    padding-left: 4.3rem;
  }

  .cat-nav:hover {
    font-weight: bold;
    color: $main-color !important;
    transform: translate(0, -2px) scale(1.3);
  }
  a.text-truncate {
    max-width: 8rem;
  }
  .min-height-pc {
    min-height: 184px;
  }
  .back-to-top:hover {
    background: $pink-color;
  }
}

//仅手机端需要单独处理的地方(max-由大到小排)
//ui处理--当屏幕小于md的时候执行以下css
@media only screen and(max-width: 768px) {
  select,
  textarea,
  input[type=text],
  input[type=search],
  input[type=number],
  input[type=tel] {
    font-size: 16px;
  }
  a.text-truncate,
  .name-truncate {
    max-width: 4rem;
  }
  .reviewed-icon {
    padding-right: 1rem;
  }
}

//ui处理--当屏幕小于320px以下（iphone5）
@media only screen and(max-width: 320px) {
  .modal-dialog-slide {
    width: 85%;
  }
  .btn-margin-mobile {
    margin-bottom: .5rem !important;
  }
  .country-img {
    display: none;
  }
  .reviewed-icon {
    padding-right: .5rem;
  }
}

